<div class="form-container">
  <div [formGroup]="sendMethodForm" *ngIf="!showVerificationInput">
    <label for="sendMethod" class="white-text">Choose the verification code delivery method:</label>
    <select id="sendMethod" formControlName="selectedMethod">
      <option value="">Select</option>
      <option value="email">Email</option>
      <option value="phone">Phone</option>
    </select>
  </div>

  <div *ngIf="sendMethodForm.controls.selectedMethod.value === 'email' && !showVerificationInput">
    <div [formGroup]="emailForm">
      <label for="email" class="white-text">Enter email:</label>
      <input type="email" id="email" class="white-input" formControlName="email">
    </div>
  </div>

  <div *ngIf="sendMethodForm.controls.selectedMethod.value === 'phone'  && !showVerificationInput">
    <div [formGroup]="phoneForm">
      <label for="phone" class="white-text">Enter phone number:</label>
      <input type="text" id="phone" class="white-input" formControlName="phone">
    </div>
  </div>

  <button *ngIf="sendMethodForm.valid && !showVerificationInput" (click)="send(sendMethodForm.value.selectedMethod)" class="send-button">Send</button>

  <div *ngIf="showVerificationInput">
    <div [formGroup]="verificationForm">
      <label for="verificationCode" class="white-text">Enter verification code:</label>
      <input type="text" id="verificationCode" class="white-input" formControlName="verificationCode">
      <label for="password" class="white-text">Enter password:</label>
      <input type="password" id="password" class="white-input" formControlName="password">
      <label for="confirmPassword" class="white-text">Confirm password:</label>
      <input type="password" id="confirmPassword" class="white-input" formControlName="confirmPassword">
    </div>
    <button *ngIf="verificationForm.valid" (click)="sendVerificationCode()" class="send-button">Send</button>
  </div>
</div>

