/*.table-container {*/
/*  background-color: rgb(240, 224, 255);*/
/*  color: rgb(73, 34, 71);*/
/*  padding: 20px;*/
/*}*/

/*table {*/
/*  width: 100%;*/
/*  border-collapse: collapse;*/
/*}*/

/*th,*/
/*td {*/
/*  padding: 8px;*/
/*  border-bottom: 1px solid rgb(115, 72, 120);*/
/*}*/

/*th {*/
/*  background-color: rgb(240, 224, 255);*/
/*}*/

/*.rejection-input {*/
/*  margin-right: 10px;*/
/*}*/

/*.approve-button {*/
/*  background-color: green;*/
/*  color: white;*/
/*  border: none;*/
/*  padding: 8px 16px;*/
/*  cursor: pointer;*/
/*}*/

/*.reject-button {*/
/*  background-color: red;*/
/*  color: white;*/
/*  border: none;*/
/*  padding: 8px 16px;*/
/*  cursor: pointer;*/
/*}*/

/*button {*/
/*  margin-top: 10px;*/
/*}*/
.table-container {
  max-width: 1200px; /* Adjust the width as per your needs */
  margin: 0 auto; /* Center the table horizontally */
  padding-top: +2%;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(240, 224, 255);
  /* Add any other custom styles you need for the table */
}

.custom-table th {
  background-color: rgb(115, 72, 120);
  color: #fff;
  padding: 10px;
}

.custom-table td {
  padding: 10px;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tr:hover {
  background-color: #e6e6e6;
}

.dark-color {
  color: rgb(73, 34, 71);
  font-weight: bold;
  cursor: pointer;
}

#approve {
  color: green;
  padding: 10px 18px;
  margin-right: +5px;
  background-color: rgb(231, 203, 234);
  /*color: white;*/
  border: none;
  border-radius: 3px;
  cursor: pointer;

}

#reject {
  color: red;
  padding: 10px 20px;
  background-color: rgb(231, 203, 234);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#sendButton {
  padding: 8px 20px;
  background-color: rgb(115, 72, 120);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.rejection-input {
  margin-right: 10px;
}
